ex-1/ultraconfig-interfaces-data.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:nma="urn:ietf:params:xml:ns:netmod:dsdl-annotations:1" xmlns:if="http://ultraconfig.com.au/ns/yang/ultraconfig-interfaces" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="urn:ietf:params:xml:ns:netconf:base:1.0"><include href="/home/maksim/pyang/schema/relaxng-lib.rng"/><start><element name="data"><interleave><grammar ns="http://ultraconfig.com.au/ns/yang/ultraconfig-interfaces"><include href="ultraconfig-interfaces-gdefs.rng"/><start><optional><element name="if:interfaces"><interleave><zeroOrMore><element name="if:interface"><element name="if:name"><data type="string"/></element><interleave><element name="if:address"><ref name="ultraconfig-interfaces__dotted-quad"/></element><element name="if:subnet-mask"><ref name="ultraconfig-interfaces__dotted-quad"/></element><optional><element name="if:enabled"><choice><value>true</value><value>false</value></choice></element></optional></interleave></element></zeroOrMore><zeroOrMore><element name="if:interface-state"><element name="if:name"><data type="string"/></element><element name="if:oper-status"><choice><value>up</value><value>down</value></choice></element></element></zeroOrMore></interleave></element></optional></start></grammar></interleave></element></start></grammar>
